{% extends "layout.html" %}
{% block content %}

<br>
<br>
<hr>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>About</h1>
      <p style="font-size: 120%;">Cakes is a Online cake ordering and home delivery system
        Project is planned to minimize the trouble of people to
        search for their desire cake and not to be deceived by
        fake sellers.Also to make a platform for the sellers.</p>

    </div>
  </div>
</div>

<br>
<br>
<hr>



{% endblock %}