{% extends "dashboardLayout.html"%}
{% block content%}

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sno</th>
                <th scope="col">categoryName</th>
                <th scope="col">seller</th>
                <th scope="col">categoryNumber</th>
                <th scope="col">Approve</th>
                <th scope="col">Cancel</th>
                
              </tr>
            </thead>
            <tbody>
{% for post in posts%}
  {% if "0" in post.active %}
              <tr>
                <th scope="row">{{post.sno}}</th>
                <td>{{post.categoryName}}</td>
                <td>{{post.seller}}</td>
                <td>{{post.categoryNumber}}</td>
                <td><a href="/add_category/{{post.sno}}"><button type="button" class="btn btn-info">Approve</button></a></td>
                <td><a href="/category_delete/{{post.sno}}"><button type="button" class="btn btn-danger">Cancel</button></td></a>
              </tr>
  {% endif %}    
{% endfor %}
            </tbody>
          </table>

{% endblock %}
