{% extends "layout.html" %}
{% block content %}

 <hr>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form name="sentMessage" id="contactForm" action="/changeName" method="post"  novalidate >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>New First Name</label>
              <input type="text" class="form-control" placeholder="New First Name" id="name" name="first_name" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>New Last Name</label>
              <input type="text" class="form-control" placeholder="New Last Name" id="email" name="last_name" required data-validation-required-message="Please enter your email address.">
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <hr>


{% endblock %}
