{% extends "layout.html" %}
{% block content %}

<br>
<br>
<hr>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Seller Order</h1>
      <table class="table">
        <thead>
          <tr>

            <th scope="col">Product_id</th>
            <th scope="col">Product_name</th>
            <th scope="col">Product_seller</th>
            <th scope="col">Full Address</th>
            <th scope="col">Payment Method</th>
            <th scope="col">User_name</th>
            <th scope="col">status</th>
            <th scope="col">Confirm</th>
          </tr>
        </thead>
        <tbody>
  {% for order in orders%}
          <tr>

            <td>{{order.product_id}}</td>
            <td>{{order.product_name}}</td>
            <td>{{order.product_seller}}</td>
            <td>{{order.full_address}}</td>
            <td>{{order.payment_method}}</td>
            <td>{{order.user_name}}</td>
        {% if "1" in order.active %}
            <td>Confirm</td>
        {% else %}
            <td>Pending</td>
        {% endif %}
        {% if "1" in order.active %}
            <td>Hand Over</td>
        {% else %}
            <td><a href="/sellerConfirmOrder/{{order.sno}}"><button class="btn btn-warning" > Confirm</button></a></td>
        {% endif %}

          </tr>
   {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

<br>
<br>
<hr>



{% endblock %}